.single-banner {
  position: relative;
  overflow: hidden;

  a {
    img {
      width: 100%;
      transition: all 0.5s ease 0s;
      transform: scale(1);
    }
  }

  &:hover img {
    transform: scale(1.2);
  }

  .banner-position-1 {
    position: absolute;
    top: 45px;
    right: 40px;
    @media #{$xl-layout} {
      top: 25px;
    }
    @media #{$lg-layout} {
      top: 20px;
      right: 20px;
    }
    @media #{$md-layout} {
      top: 20px;
      right: 20px;
    }
    @media #{$xs-layout} {
      top: 15px;
      right: 15px;
    }
    @media #{$sm-layout} {
      top: 30px;
      right: 30px;
    }
  }

  .banner-position-2 {
    position: absolute;
    top: 45px;
    left: 40px;
    @media #{$xl-layout} {
      top: 25px;
    }
    @media #{$lg-layout} {
      top: 20px;
      left: 20px;
    }
    @media #{$md-layout} {
      top: 20px;
      left: 20px;
    }
    @media #{$xs-layout} {
      top: 15px;
      left: 15px;
    }
    @media #{$sm-layout} {
      top: 30px;
      left: 30px;
    }
  }

  .banner-content {
    h3 {
      font-size: 30px;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      text-transform: uppercase;
      color: #111111;
      @media #{$xl-layout} {
        font-size: 25px;
      }
      @media #{$lg-layout} {
        font-size: 25px;
      }
      @media #{$md-layout} {
        font-size: 22px;
      }
      @media #{$xs-layout} {
        font-size: 20px;
      }
    }
    p {
      font-size: 18px;
      margin: 11px 0 20px;
      color: #010101;
      @media #{$xl-layout} {
        margin: 5px 0 12px;
      }
      @media #{$lg-layout} {
        margin: 5px 0 12px;
      }
      @media #{$md-layout} {
        margin: 5px 0 10px;
      }
      @media #{$xs-layout} {
        margin: 5px 0 10px;
      }
      span {
        color: #6eab49;
      }
    }
    > a {
      font-size: 14px;
      display: inline-block;
      width: 28px;
      height: 28px;
      text-align: center;
      color: #6eab49;
      border: 2px solid #6eab49;
      border-radius: 100%;
      &:hover {
        color: $theme-color;
        border: 2px solid $theme-color;
      }
    }
  }

  .banner-content-2 {
    span {
      font-size: 18px;
      color: #6eab49;
    }

    h2 {
      font-size: 55px;
      font-weight: bold;
      line-height: 1;
      margin: 15px 0 15px;
      text-transform: uppercase;
      color: #f3993f;
      @media #{$xl-layout} {
        font-size: 40px;
        margin: 7px 0 10px;
      }
      @media #{$lg-layout} {
        font-size: 35px;
        margin: 7px 0 10px;
      }
      @media #{$md-layout} {
        font-size: 45px;
      }
      @media #{$xs-layout} {
        font-size: 30px;
        margin: 7px 0 10px;
      }
    }
    h5 {
      font-size: 24px;
      line-height: 1;
      margin: 0 0 36px;
      letter-spacing: 4.3px;
      color: #000000;
      @media #{$lg-layout} {
        font-size: 20px;
        margin: 0 0 20px;
        letter-spacing: 2.3px;
      }
      @media #{$md-layout} {
        font-size: 22px;
        letter-spacing: 3.3px;
      }
      @media #{$xs-layout} {
        font-size: 20px;
        margin: 0 0 20px;
        letter-spacing: 2.3px;
      }
    }
    > a {
      font-size: 14px;
      line-height: 1;
      display: inline-block;
      padding: 13px 33px 13px;
      text-transform: uppercase;
      color: #fff;
      background-color: #6eab49;
      &:hover {
        background-color: $theme-color;
      }
    }
  }
}
